.container {
  margin-top: 40px;
}

label {
  display: block;
  margin-bottom: 10px;
}

.btn-primary {
  display: block;
  margin-top: 10px;
  width: 100%;
}

.btn-listen {
  width: 80px;
}

.container-audio {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
}

h5 {
  text-align: center;
}

.comment {
  margin-right: 10px;
  width: 50%;
}
